# -----------------------------
# Python / IDE
# -----------------------------
__pycache__/
*.pyc
.vs/

# -----------------------------
# Model files & OCR assets
# -----------------------------
models/
PP-OCRv5_mobile_rec/
PP-OCRv5_server_det/

# -----------------------------
# Outputs / generated data
# -----------------------------
output/
annotated_outputs2/

# -----------------------------
# Test data & videos
# -----------------------------
test_data/
test_video/
*.mp4

# -----------------------------
# Databases
# -----------------------------
*.db

# -----------------------------
# OS / temp
# -----------------------------
.DS_Store
Thumbs.db